@charset "UTF-8";
:root {
  --color-background--default: #ffffff;
  --color-background--dark: #000000;
  --color-background--light: #f1f1f1;
  --color-background--primary: #ff0000;

  --color-text--default: #7c7c7c;
  --color-text--dark: #000000;
  --color-text--light: #f1f1f1;
  --color-text--primary: #ff0000;
  --color-text--link: #ff7070;

  --color-border--default: #7c7c7c;
  --color-border--dark: #000000;
  --color-border--light: #f1f1f1;
  --color-border--primary: #ff0000;

  --gap: 12px;
  --gap--small: 10px;
  --gap--medium: 15px;
  --gap--large: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:where(p, span, i, a) {
  color: var(--color-text--default);
}

a {
  color: var(--color-text--link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text--primary);
  text-decoration: line-through;
}

a img {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav.navbar--section-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px 16px var(--gap--medium);
  background-color: var(--color-background--default);

  margin-bottom: calc(var(--gap--large) * 2);
}

/* Hide the main navigation label */
nav.navbar--section-page h2.navbar--section-page-title.sr-only {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

nav.navbar--section-page
  a.navbar--section-page-logo
  img.navbar--section-page-logo-img {
  padding: 12px;
  width: 150px;
  height: auto;
  background-color: var(--color-background--default);
  border-radius: 8px;
}

main.main--section-page {
  padding: 0 32px;
}
